:root {
  --guild-nav-bg: #1d2029;

  --bg-color-1: #1A1D24; /* Lightest blue grey background */
  --bg-color-2: #22262F; /* Very light blue grey background */
  --bg-color-3: #2A2F3A; /* Light blue grey background */
  --bg-color-4: #323845; /* Medium light blue grey background */
  --bg-color-5: #3A4050; /* Darkest blue grey background */

  --bg-gradient-1: linear-gradient(135deg, var(--bg-color-2), var(--bg-color-5));
  --bg-gradient-2: linear-gradient(135deg, var(--bg-color-3), var(--bg-color-1));
  --bg-gradient-3: linear-gradient(135deg, var(--bg-color-4), var(--bg-color-2));

  --container-accent-1: #5C647F;
  --container-accent-2: #656E8F;
  --container-accent-3: #6E789F;

  --primary-color: #0077ff; /* Lighter blue */
  --secondary-color: #278aff; /* Darker shade of primary blue */

  --text-color: #E0E0E0;

  --box-shadow-subtle: 0 4px 6px rgba(0, 0, 0, 0.2);
  --frosted-glass-bg: rgba(255, 255, 255, 0.1);
  --frosted-glass-bg-2: rgba(255, 255, 255, 0.05);
  --frosted-glass-filter: blur(10px);

  --border-radius: 8px;
  --max-content-width: 1200px;
}

html,
body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--bg-color-2);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color-1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 4px;
}

.container {
  background-color: var(--bg-color-3);
  border: 1px solid var(--container-accent-1);
  color: var(--text-color);
  padding: 20px;
  margin: 10px;
  box-shadow: var(--box-shadow-subtle);
}

.header {
  background: var(--bg-gradient-1);
  color: var(--text-color);
  padding: 20px;
  box-shadow: var(--box-shadow-subtle);
}

button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-subtle);
  font-weight: 400;
  font-size: 1rem;
}

button,
button.primary {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
}

button.secondary {
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid var(--secondary-color);
  box-shadow: var(--box-shadow-subtle);
}

.frosted-glass {
  background: var(--frosted-glass-bg);
  backdrop-filter: var(--frosted-glass-filter);
  -webkit-backdrop-filter: var(--frosted-glass-filter); /* For Safari */
  border: 1px solid var(--container-accent-2);
  padding: 20px;
  margin: 10px;
  color: var(--text-color);
  box-shadow: var(--box-shadow-subtle);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}
